<main role="main">
  <div class="sidebar">
    <div class="sidebar-inner-index">
      <ul class="main-menu">
        <%- partial('partials/main_menu', { context: 'sidebar' }) %>
      </ul>
    </div>
  </div>

  <div id="hero">
    <div class="inner">
      <div class="left">
        <img class="hero-logo" src="<%- url_for("/images/logo.svg") %>" alt="Vue-nyň logosy">
      </div><div class="right">
        <h2 class="vue">Vue.js</h2>
        <h1>
          Ösdürilip bilinýän<br>JavaScript Frameworky
        </h1>
        <p>
          <a id="modal-player" class="button has-icon" href="javascript:;">
            <%- partial('icons/play') %>
            NÄME ÜÇIN VUE.JS?</a>
          <a class="button white" href="<%- url_for("/v2/guide/") %>">BAŞLAŇ</a>
          <a class="button gray has-icon" href="https://github.com/vuejs/vue" target="_blank" rel="noopener">
            <%- partial('icons/github-dark') %>
            GITHUB</a>
        </p>
      </div>
    </div>
  </div>

  <%_ if (theme.special_sponsors) { _%>
  <div id="special">
    <h3>Aýratyn tapawutly hemaýatkär</h3>
    <% var specialSponsor = theme.special_sponsors[0]; %>
    <a href="<%- specialSponsor.url %>" target="_blank" rel="noopener sponsored">
      <img src="<%- url_for(`/images/${specialSponsor.img}`) %>" style="width:160px" alt="Aýratyn tapawutly hemaýatkär <%- specialSponsor.name %>">
      <br>
      <!-- <span><%- specialSponsor.description %></span> -->
    </a>
  </div>
  <%_ } _%>

  <div id="highlights">
    <div class="inner">
      <div class="point">
        <h2>Öwrenmesi aňsat</h2>
        <p>HTML, CSS we Javascript bilýäňizmi? Gollanmany okaň we birzatlary döretmäge başlaň.</p>
      </div>

      <div class="point">
        <h2>Köp maksatly</h2>
        <p>Kitaphanadan başlap ähli mümkinçilikleri bar bolan framework-a çenli ekosistema.</p>
      </div>

      <div class="point">
        <h2>Ýokary netijeli</h2>
        <p>
          Iş wagtynda 20KB min+gzip<br>
          Örän çalt Wirtual DOM<br>
          Az optimizasiýa zerurlygy
        </p>
      </div>
    </div>
  </div>

  <div id="sponsors">
    <div class="inner">
      <%- partial('partials/sponsors') %>
    </div>
  </div>

  <div id="news">
    <div class="inner">
      <h3><label for="member_email">Her hepde çykýan täzeliklerimize abuna ýazylyň</label></h3>
      <form
        class="newsletter-form"
        id="revue-form"
        name="revue-form"
        target="_blank"
        rel="noopener"
        action="https://www.getrevue.co/profile/vuenewsletter/add_subscriber"
        method="post"
        @submit="subscribe"
      >
        <input
          class="newsletter-input"
          type="email"
          name="member[email]"
          id="member_email"
          required
          placeholder="E-poçta salgyňyz"
        >
        <input
          class="button newsletter-button"
          type="submit"
          value="Ýazyl"
          name="member[subscribe]"
          id="member_submit"
        >
      </form>
      <p>
        <a href="https://news.vuejs.org" target="_blank" rel="noopener">news.vuejs.org</a>-da öňki täzeliklerimizi okap we sanly seslerimizi diňläp biler.
      </p>
    </div>
  </div>
</main>

<footer id="footer" role="contentinfo">
  <p>
    <a class="social-icon" href="https://github.com/vuejs/vue" target="_blank" rel="noopener">
      <%- partial('icons/github') %>
    </a>
    <a class="social-icon" href="https://twitter.com/vuejs" target="_blank" rel="noopener">
      <%- partial('icons/twitter') %>
    </a>
    <a class="social-icon" href="https://medium.com/the-vue-point" target="_blank" rel="noopener">
      <%- partial('icons/medium') %>
    </a>
  </p>
  <p><a href="https://opensource.org/licenses/MIT" target="_blank" rel="noopener">MIT Lisenziýasy esasynda goýberildi.</a><br>
  Ähli haklar goragly &copy; 2014-<%- new Date().getFullYear() %> Evan You</p>
</footer>

<div id="video-modal" class="modal">
  <div class="video-space" style="padding: 56.25% 0 0 0; position: relative;">
    <iframe
      src="https://player.vimeo.com/video/247494684?dnt=1"
      style="height: 100%; left: 0; position: absolute; top: 0; width: 100%;"
      frameborder="0"
      webkitallowfullscreen
      mozallowfullscreen
      allowfullscreen></iframe>
  </div>
  <script src="https://player.vimeo.com/api/player.js"></script>
  <p class="modal-text">
    <a
      href="https://www.vuemastery.com"
      target="_blank"
      rel="sponsored noopener"
      title="Vue.js Courses on Vue Mastery">
        Vue Mastery
    </a>. tarapyndan wideo. Muzdsuz Vue Mastery-iň 
    <a
      href="https://www.vuemastery.com/courses/intro-to-vue-js/vue-instance/"
      target="_blank"
      rel="sponsored noopener"
      title="Vue Mastery-de Vue.js dersi"
    >
      Vue-ny tanyşdyryş wideosy
    </a>.
  </p>
</div>

<script>
(function () {
  var topScrolled = false
  var sponsors = document.getElementById('sponsors')
  var sponsorTop = sponsors.offsetTop
  var sponsorActive = false

  window.addEventListener('resize', function () {
    sponsorTop = sponsors.offsetTop
  })

  window.addEventListener('scroll', function () {
    if (window.pageYOffset > 165 && !topScrolled) {
      topScrolled = true
      document.getElementById('mobile-bar').classList.remove('top')
    } else if (window.pageYOffset <= 165 && topScrolled) {
      topScrolled = false
      document.getElementById('mobile-bar').classList.add('top')
    }
    if (window.pageYOffset > sponsorTop - 100) {
      if (!sponsorActive) {
        sponsorActive = true
        sponsors.classList.add('active')
      }
    } else {
      if (sponsorActive) {
        sponsorActive = false
        sponsors.classList.remove('active')
      }
    }
  })
})()
</script>
